
    <div class="search">
        <div class="left">
            <img src="../../assets/images/search copy 2.png">
            <input class="keywordsearch" type="search" placeholder="Search by Job Title, Qualification, Industry">
        </div>
        <div class="right">
            <img class="filterimg" src="../../assets/images/icon filter.png">
        </div>
    </div>
    <div class="container">
    <div class="details">
        <div class="logo">
            <img s src="../../assets/images/logo1.png">
        </div>
        <div class="info">
            <h2>Social Media Assistant</h2>
            <p>Date Of Interview:02/03/2023</p>
            <p>Location / Online:Online</p>
            <p>Time:10.30 AM</p>
            <button>View</button>
        </div>
    </div>
    <div class="image">
        <img s src="../../assets/images/swe.png">
    </div>
</div>