<div class="content container text-center">
    <div class="check pt-3 mt-3 col-12">
        <img [src]="myError.esign" alt="">
    </div>
    <div class="msg pt-2 mt-3 col-12 text-danger">
        <h1>{{myError.message1}}</h1>
    </div>
    <div class="msg2 pt-2 col-12">
        <h5>
            <p>{{myError.message3}}</p>
        </h5>
    </div>
    <div class="btn pt-1 mt-3 col-12">
        <button class="btn btn-secondary" mat-button mat-dialog-close="phd">Close</button>
    </div>
</div>
