<div class="pro pt-4 text-center justify-content-center col-12">
    <img src="../../assets/images/user2.jpg" class="rounded-circle" alt="">
    <p>Sofia Garner</p>
    <i>garnersophia@gmail.com</i>
</div>
<div class="list text-center pt-5 p-2" >
        <div class="col-12 links rounded-pill"><a href="#">All Jobs </a></div>
        <div class="col-12 links rounded-pill"><a href="#">My Applications </a></div>
        <div class="col-12 links rounded-pill"><a href="#">Messages </a></div>
        <div class="col-12 links rounded-pill"><a href="#">Profile </a></div>
        <div class="col-12 links rounded-pill"><a href="#">Settings </a></div>
</div>
<div class="col-12 text-center">
    <a href="#"><h2><i class="bi bi-person-add text-primary"></i></h2></a>
</div>
