<div class="space">
<div class="photo">
    <img src="../../assets/images/cheerful-curly-business-girl-wearing-glasses 1 (1).png">
</div>

<div class="name">
    <p><b>Olivia<br>Olivia@gmail.com</b></p>
</div>
<ul>
    <li ><img src="../../assets/images/dashboard 1 (2).png">Dashboard</li>
    <li><img src="../../assets/images/suitcase 2 (1).png">Jobs</li>
    <li><img src="../../assets/images/application (1) 1 (2).png">Applications</li>
    <li><img src="../../assets/images/question (1) 1 (2).png">Interviews</li>
    <li><img src="../../assets/images/message 1 (2).png">Messages</li>
    <li><img src="../../assets/images/settings 1 (1).png">Settings</li>
</ul>
<div class="addNew" style="text-align: center;">
    <img src="../../assets/images/add-group (1) 1 (2).png"><br>
    addNew
</div>
</div>