<div class="footer mt-3">
    <footer>

        <div class="row">
            <div class="col-12 col-md-3">
                <h2>Indulge.</h2>
                <p>1t is a long established fact that a reader will be distracted by the readable content of a
                    page when looking
                    at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                    distribution of letters,
                    as opposed to using 'Content here, content here', </p>
            </div>
            <div class="col">
                <h3 class="off  text-light">Office</h3>
                <p>ITPL Road</p>
                <p>Silver valley</p>
                <p>California, USA</p>
                <p class="emal-id">contactmegmail.com</p>
                <h4>+01-6667-432-432</h4>
            </div>
            <div class="col">
                <h3 class="link text-light">Links</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Report</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
            <div class="col">
                <h3 class="new text-light">Newsletter</h3>
                <form>
                    <i class="bi bi-envelope"></i>
                    <input type="email" placeholder="Enter your email" required>
                    <button type="submit"><i class="bi bi-arrow-right"></i></button>
                </form>
                <div class="socials">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-linkedin"></i>
                    <i class="bi bi-twitter-x"></i>
                    <i class="bi bi-instagram"></i>
                </div>
            </div>
        </div>
        <hr>
        <p class="copy pb-3">Copyright  2023 - All Rights Reserved</p>

    </footer>
</div>
