<div class="sidebar text-center pt-3">
    <div class="pro-pic">
        <img src="" alt="">
    </div>
    <p class="pt-3">Harsha Bhogle</p>
    <p>bhogleharshagmail.com</p>
    <div class="links text-center" >
        <ul>
            <li>
                <a href="#" routerLink="/joblist" routerLinkActive="active">Job-Listing</a>
            </li>
            <li>
                <a href="#">User Profile</a>
            </li>
            <li>
                <a href="#" routerLink="/report" routerLinkActive="active">Report</a>
            </li>
            <li>
                <a href="#">Logout</a>
            </li>
        </ul>
    </div>
</div>
