.navbar{
    margin-top: 1%;
    border: solid #ccc 1px;
    border-radius: 30px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;

}
 .active{
    color: blueviolet;
    font-weight: bold;
    border-left: 2px solid blueviolet;
    border-right: 2px solid blueviolet;
}