

.findjobseeker {
    color: #117EBD;
    margin: 0 15%;
}


.select {
    display: flex;
    justify-content: space-between;
    margin: 0% 15%;
}

h3 {
    flex: 1;
    text-align: center;
    width: 175px;
    border-radius: 12px;
    padding: 10px;
    background-color: #117EBD;
    font-weight: 400;
    color: white;
}


.search {
    display: flex;
    align-items: center;
    border: 1px solid lightskyblue;
    background-color: white;
    border-radius: 15px;
    padding: 1%;
    margin: 0 10%;
  }
  
  .left {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  
  .right {
    margin-left: auto;
  }
  
  input {
    margin-left: 10px; /* Adjust as needed */
    border: none;
   width: 300px;
  }
  
  img {
    max-width: 100%; /* Ensure images do not exceed container width */
  }
  
  .details {
    display: flex;
    justify-self: center;
    margin: 0 15%;
    justify-content: space-between;
  }

  .box {
    display: flex;
    align-items: center;
    justify-self: center;
    border-radius: 12px;
    background-color: #117EBD;
    padding: 5px 10px;
    margin-right: 15px;
   width: 360px;
    
  }

  .box img {
    width: 50px; /* Adjust the width as per your requirements */
    height: 50px; /* Adjust the height as per your requirements */
    margin-right: 10px; /* Adjust the margin as per your requirements */
  }

  .box p {
    margin: 0 10px;
    color: white;
    font-size: 18px;
   
  }

  .value
  {
    margin-left: 20px;
  }

  .imagesection
  {
    margin: 5% 15%;
  }