header {

    grid-area: header;
    background:linear-gradient(45deg,#aa0707, #104c64 ) ;
    padding: 2%;
    border-radius: 8px;

}

.navbar {
    background:linear-gradient(45deg,#aa0707, #104c64 ) ;
    margin-top: -1%;
}

.navbar a {

    text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    margin-right: 10px;

}

.navbar a:hover,
.navbar a.active {
    transform: translateY(-20%);
    transition: 0.2s;
    text-decoration: none;
    color: #fff;
    border-bottom: 3px solid #fff;
}


.main .input-field{
    color: black;
    background: rgba(193, 116, 116, 0.2);
}

.main ::-webkit-input-placeholder {
    color: #fff;
}
.input-field {
    font-size: 1em;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.input-field:hover,
.input-field:focus {
    background: rgba(205, 115, 251, 0.25);
}

::-webkit-input-placeholder {
    color: #fff;
}

.input-box i {
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}
.main {
    background: #fff;
    border-radius: 10px;
}

h1 {
    color: black;
}

h3 {
    color: black;
}

.main2 {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: rgba(193, 116, 116, 0.2);
    
}

.info {
    color: #fff;
}

.head {
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(45deg, #aa0707, #104c64);
}

.info a {
    text-decoration: none;
    color: #fff;
    font-size: 62.5%;
    vertical-align: middle;
}

.pic {
    width: 15%;
    height: auto;
    
}

.pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.details p {
    font-size: 82.3%;
    line-height: 0.2em;
}

.follow {
    justify-content: center;
}

.follow a {
    text-decoration: none;
    font-size: small;

}



.like:hover {
    background: rgba(249, 218, 218, 0.2);
    cursor: pointer;
}

.comment:hover {
    background: rgba(249, 218, 218, 0.2);
    cursor: pointer;
}

.dislike:hover {
    background: rgba(249, 218, 218, 0.2);
    cursor: pointer;
}

.report:hover {
    background: rgba(249, 218, 218, 0.2);
    cursor: pointer;

}

.bottom {
    height: 25vh;
    width: 100%;

}

.extra {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 30px;
    
    color: white;
}
.extra-detail{
    
    border-radius: 20px;
}
.extra-detail:hover{
    transform: scale(1.04) ;
    transition: all .3s ease-in-out;
    background: #aa0707;
}
.extra-detail p h3:hover{
    color: #fff;
}
.extra-pic img{
    height: 100%;
    width: 20%;
}
.extra-des{
    color: black;
}

.panel{
    background: linear-gradient(45deg,silver, #104c64);
    color: black;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.panel-pic{
    height: 4rem;
    width: 4rem;
}

.panel-pic img{
    height: 4rem;
    width: 4rem;
}
.panel-2{
    border-radius: 20px;
    text-align: center;
    justify-content: center;
}
.photos:hover{
    background: rgba(249, 218, 218, 0.2);
    cursor: pointer;
}
.events:hover{
    background: rgba(249, 218, 218, 0.2);
    cursor: pointer;
}
.readme{
    border: 1px solid rgba(249, 218, 218, 0.2);;
    font-size: small;
}
.readme:hover{
    background: rgba(249, 218, 218, 0.2);
    cursor: pointer;
}

.articles:hover{
    background: rgba(249, 218, 218, 0.2);
    cursor: pointer;
}
.first-head{
    border: 1px solid black;
    background: linear-gradient(45deg , #104c64, #aa0707);
    width: 100%;
    height:4rem;
}




.wrapper {
    max-height: 120px;
    /* border: 1px solid #ddd; */
    display: flex;
    overflow-x: auto;
}

.wrapper::-webkit-scrollbar {
    width: 0;
}

.wrapper .item {
    min-width: 110px;
    height: 110px;
    line-height: 80px;
    text-align: center;
    /* background-color: aliceblue; */
}
















footer {
    background:linear-gradient(45deg, #104c64,#aa0707 ) ;
}

footer .row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
}

footer .col {
    flex-basis: 25%;
    padding: 10px;
}

footer .email-id {
    
    border-bottom: 1px solid white;

}

footer ul li {
    list-style: none;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
}

footer form {

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10%;
}

footer form i {
    font-size: 18px;
    margin-right: 2%;
    color: #fff;
}

footer form input {
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

footer form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

footer .socials i {
    font-size: 1.8rem;
    width: 12%;
    height: 7%;
    border-radius: 50%;
    text-align: center;
    line-height: 1.5rem;
    margin-right: 1%;
    cursor: pointer;
}

hr {
    width: 100%;

}

.copy {
    text-align: center;
    color: #fff;
}
.card {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 15px;
}

.card:hover {
    transform: scale(1.1);
    transition: 0.2s linear;
}
