<div class="main col-lg-6">
    <h1>Short List</h1>
    <hr width="90%" color="black">

    <h3>Job Title</h3>
    <input size="5" type="text" class="input-field" id="inputEmail" aria-describedby="emailHelp">
    <h3>Date</h3>
    <input type="date" class="input-field" id="inputDate" aria-describedby="dateHelp">
    <h3>Time</h3>
    <input type="time" class="input-field" id="inputTime" aria-describedby="timeHelp">
    <h3>Location</h3>
    <input type="text" class="input-field" id="inputlocation" aria-describedby="locationHelp">
    <div class="row">
        <div class="p-3 col-md-2"> <button type="submit"
                class="btn btn-success mb-3 me-auto se-btn">Send</button></div>
        <div class=" p-4 col-md-5">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Push Notification</label>
            </div>
        </div>
        <div class="p-4 col-md-5">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked"
                    checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Email Notification</label>
            </div>
        </div>
    </div>
</div>
