<div class="container">
    <div class="row">
        <div class="col bg-info d-flex justify-content-center align-items-center ">
          <div class=" sideImg ">
              <img src="../../assets/images/girl.png" alt="" class=" rounded-circle px-3 " width="70%"> 
              <h4 class="px-4 text-white">Olivia</h4> 
              <h6 class="text-white">olivia@gmail.com</h6>
              <ul class="list-unstyled mt-4 ">
                <li class="p-2">
                    <a href="#" class=" align-middle link  ">
                        <i class="  fs-5 bi-grid-fill text-dark"></i>
                        <p class=" d-sm-inline  d-none  text-white">Dash Board</p></a>

                </li>
                <li class="p-2">
                    <a href="#" class=" align-middle link  ">
                        <i class="  bi bi-briefcase-fill text-dark"></i>
                        <p class=" d-sm-inline  d-none  text-white">Jobs</p></a>

                </li>
                <li class="p-2">
                    <a href="#" class=" align-middle link ">
                        <i class="bi bi-file-earmark-text text-dark"></i>
                        <p class=" d-sm-inline  d-none  text-white">Application</p></a>

                </li>
                <li class="p-2">
                    <a href="#" class=" align-middle link ">
                        <i class="  fs-5 bi-grid-fill text-dark"></i>
                        <p class=" d-sm-inline  d-none  text-white">Interviews</p></a>

                </li>
                <li class="p-2">
                    <a href="#" class=" align-middle link ">
                        <i class=" fs-5 bi bi-envelope-fill text-dark"></i>
                        <p class=" d-sm-inline  d-none  text-white">Messages</p></a>

                </li>
                <li class="p-2">
                    <a href="#" class=" align-middle link ">
                        <i class=" fs-5 bi bi-gear-fill text-dark"></i>
                        <p class=" d-sm-inline  d-none  text-white">settings</p></a>

                </li>
              
              </ul>
              
                <a href="#" class=" align-middle link">
                    <h1 class="bi bi-person-plus-fill text-dark pl-4 "></h1>
                    <p class=" d-sm-inline  d-none  text-white">Add New</p></a>

          

          </div>
         
        </div>
        
    </div>
</div>