<div class="joblist">
    <div class="col-12 d-flex p-3">
        <div class="col-6">
            <h2>Marketing Manager</h2>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem Ipsum is that it has a
        </div>
        <div class="col-2 text-right job-date"><i class="bi bi-calendar-date"></i>&nbsp; 3 days ago</div>
        
        <div class="col-2 text-right"><i class="bi bi-geo-alt-fill"></i>&nbsp;New York, USA</div>
        <div class=" col-2">
            <button type="button" class="btn btn-outline-primary">View job</button>
        </div>
        
    </div>
    <hr>
    <div class="col-12 d-flex p-3">
        <div class="col-6">
            <h2>Social Media Manager</h2>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem Ipsum is that it has a
        </div>
        <div class="col-2 text-right job-date"><i class="bi bi-calendar-date"></i>&nbsp; 15 days ago</div>
        
        <div class="col-2 text-right"><i class="bi bi-geo-alt-fill"></i>&nbsp;New Jersey, USA</div>
        <div class=" col-2">
            <button type="button" class="btn btn-outline-primary">View job</button>
        </div>
        
    </div>
    <hr>
    <div class="col-12 d-flex p-3">
        <div class="col-6">
            <h2>Chef De Partee</h2>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem Ipsum is that it has a
        </div>
        <div class="col-2 text-right job-date"><i class="bi bi-calendar-date"></i>&nbsp; 5 days ago</div>
        
        <div class="col-2 text-right"><i class="bi bi-geo-alt-fill"></i>&nbsp;Greenwich, UK</div>
        <div class=" col-2">
            <button type="button" class="btn btn-outline-primary">View job</button>
        </div>
        
    </div> <hr>
    <div class="col-12 d-flex p-3">
        <div class="col-6">
            <h2>Commis 3</h2>
            It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout. The point of using Lorem Ipsum is that it has a
        </div>
        <div class="col-2 text-right job-date"><i class="bi bi-calendar-date"></i>&nbsp; 1 day ago</div>
        
        <div class="col-2 text-right"><i class="bi bi-geo-alt-fill"></i>&nbsp;San Juan, Columbia</div>
        <div class=" col-2">
            <button type="button" class="btn btn-outline-primary">View job</button>
        </div>
        
    </div>
</div>