<div class="header">
    <div class="search">
        <h2>Find Jobs</h2>
        <div class="searchContainer">
            <input type="text"  id="searchBox" placeholder="Search by Name Member ID,Designation" style="border:none; width: 90%;">
            <button id="filter" ><img src="../../assets/images/icon filter (1).png"></button>
        </div>
    </div>
    <div class="bellIcons">
        <img src="../../assets/images/Group 5689.png" > 
    </div>
    <div class="logIcon">
        <img src="../../assets/images/mi_log-out.png" >
    </div>
    <div class="listJobs"><h2>List Jobs</h2></div>
    <div class="postJobs"><h2>Post Jobs</h2></div>
    <div class="updateJobs"><h2>Update Jobs</h2></div>
    </div>
