<div class="content container text-center">
    <div class="check pt-3 mt-3 col-12">
        <img [src]="myDisplay.sign" alt="">
    </div>
    <div class="msg pt-2 mt-3 col-12 text-success">
        <h1>{{myDisplay.message}}</h1>
    </div>
    <div class="msg2 pt-2 col-12">
        <h3>
            <p>{{myDisplay.message2}}</p>
        </h3>
    </div>
    <div class="btn pt-1 mt-3 col-12">
        <button class="btn btn-danger" mat-button mat-dialog-close="phd">Close</button>
    </div>
</div>
