<div class="main2 col-lg-5">
    <div class="info p-1 m-1">
        <div class="head d-flex">
            <div class="pic p-1 rounded-circle justify-center">
                <img alt="" src="images/pic4.jpg">
            </div>
            <div class="details col-7">
                <h3 class="name text-light">Joey</h3>
                <p>Skill Coordinator</p>
                <p class="globe d-none d-lg-block d-md-block">2days . <i
                        class="bi bi-globe-central-south-asia text-light"></i></p>
            </div>
            <div class="follow text-center pt-2 col-3">
                <p><a href="#" class="readme rounded-pill w-20 p-2 mt-2">Follow</a></p>
            </div>
        </div>
        <div class="caption text-dark">
            Be like the lion,keep your head high and mighty no matter the problem face them all with the
            attitude of a king.
        </div>
        <div class="video pt-2 w-100">
            <video width="100%" height="315" src="images/vid1.mp4" autoplay muted controls loop>
            </video>
        </div>
        <div class="reviws d-flex col-12 text-secondary">
            <div class="rev1 col-8">
                <p><span>Saranya Manoj and 13.6k others</span></p>
            </div>
            <div class="rev2 text-right col-4">
                <p>8k comments</p>
            </div>
        </div>
        <div class="reaction p-1 text-dark d-flex">
            <div class="like text-center rounded-pill col-3 pl-2">
                13.6k<i class="bi bi-hand-thumbs-up-fill"></i>
            </div>
            <div class="dislike text-center rounded-pill col-3 pl-2">
                406<i class="bi bi-hand-thumbs-down-fill"></i>
            </div>
            <div class="comment text-center rounded-pill col-3 pl-2">
                8k<i class="bi bi-chat-dots-fill"></i>
            </div>
            <div class="report text-center rounded-pill col-3 pl-2">
                <i class="bi bi-exclamation-triangle-fill"></i>
            </div>
        </div>

    </div>
</div>
