<div class="side bg-primary text-light ">
    <h2 class="pt-3 text-center"><b>Hire Me Now!!</b></h2>
<div class="list pt-3">
    <ul>
        <li>
            <a href="#"><i class="bi bi-suitcase-lg-fill"></i> All Jobs</a>
        </li>
        <li>
            <a href="#"><i class="bi bi-newspaper"></i> Applications</a> 
        </li>
        <li>
            <a href="#"><i class="bi bi-chat-left-dots-fill"></i> Messages</a>
        </li>
        <li>
            <a href="#" routerLink="/content" routerLinkActive="active"><i class="bi bi-person-fill"></i> Profile</a>
        </li>
        <li>
            <a href="#" routerLink="/settings" routerLinkActive="active"><i class="bi bi-gear-wide-connected"></i> Settings</a>
        </li>
    </ul>
</div>
</div>
