.space {
    height: 150px;
}

.photo {

    height: 10%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: dimgray;
    border-radius: 50%;
}

.photo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.name {
    text-align: center;
}

ul {
    list-style: none;
    line-height: 50px;

}
li a{text-decoration: none;
color: white;}
li img {
    padding-right: 10px;
}

.addNew img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.active{
    font-size: x-large;
    font-size: bold;
    color: #ff6347;
}